<ion-header>
  <ion-navbar>

    <ion-title>
      Edycja ROD
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="backspace"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="save(form)" novalidate>
    <ion-item>
      <ion-label>Numer dokumentu :</ion-label>
      <ion-input type="text" required [(ngModel)]="rod.documentNumber" name="documentNumber" [class.invalid]="submitted"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Data przychodu :</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" required [(ngModel)]="rod.creationDate" name="creationDate">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Pozycja planu</ion-label>
      <ion-select [(ngModel)]="rod.planPosition" name="planPosition" required placeholder="wybierz" multiple="false">
        <ion-option *ngFor="let item of dictionaryService.getPlans()"  value="{{item.name}}">{{item.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Kierunek przychodu</ion-label>
      <ion-select [(ngModel)]="rod.direction" name="direction" required placeholder="wybierz" multiple="false">
        <ion-option *ngFor="let item of dictionaryService.getIncomeTypes()"  value="{{item.name}}">{{item.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Wykonawca</ion-label>
      <ion-select [(ngModel)]="rod.executor" name="executor" required placeholder="wybierz" multiple="false">
        <ion-option *ngFor="let item of dictionaryService.getExecutors()"  value="{{item.name}}">{{item.name}}</ion-option>
      </ion-select>
    </ion-item>
    <button  ion-button round block type="submit" color="danger" [disabled]="!form.valid">Zapisz</button>
  </form>
</ion-content>
